@import "tailwindcss";

@theme {
  --color-surface-base: #000000;
  --color-text-secondary: #51636f;
  --color-text-tertiary: #191f23;
  --color-text-inverse: #ffffff;
  --color-surface-raised: #ecede9;
  --color-surface-strong: #f7f8f9;
  --color-border-default: #e4e4e7;
  --color-border-muted: #a1a1aa;
}

@layer base {
  :root {
    --color-surface-base: #000000;
    --color-text-secondary: #51636f;
    --color-text-tertiary: #191f23;
    --color-text-inverse: #ffffff;
    --color-surface-raised: #ecede9;
    --color-surface-strong: #f7f8f9;
    --color-border-default: #e4e4e7;
    --color-border-muted: #a1a1aa;
  }
}
